<div class='row'>
    <div class='col-xs-12'>
        <table class='table table-bordered'>
            <thead></thead>
            <tbody>
                <tr>
                    <th>{{ army.name }}</th>
                    <th>{{ army.race }}</th>
                    <th>Puntos: {{ army.totalCost }}</th>
                    <th><button type='button' class='btn btn-success' (click)='onEditArmy()'>Editar Ejercito</button></th>
                    <th><button type='button' class='btn btn-danger' (click)='onDeleteArmy()'>Eliminar Ejercito</button></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>