<h2>{{unit.name}}</h2>
<div class="row">
  <div class="col-xs-6">
    {{ unit.unit.name }} - {{ unit.unit.race }} - {{ unit.unit.unitCategory }} - {{ unit.unit.unitType}}
  </div>
  <div class="col-xs-6">
    <button type="button" class="btn btn-success" (click)="onEditUnit()">Editar Unidad</button>
    <button type="button" class="btn btn-danger" (click)="onDeleteUnit()">Eliminar Unidad</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Puntos</th>
          <th scope="col">M</th>
          <th scope="col">HA</th>
          <th scope="col">HP</th>
          <th scope="col">F</th>
          <th scope="col">R</th>
          <th scope="col">H</th>
          <th scope="col">I</th>
          <th scope="col">L</th>
          <th scope="col">Tamaño</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ cost }}</th>
          <th>{{ unit.unit.profile.movement }}</th>
          <th>{{ unit.unit.profile.weaponSkill }}</th>
          <th>{{ unit.unit.profile.ballisticSkill }}</th>
          <th>{{ unit.unit.profile.toughness }}</th>
          <th>{{ unit.unit.profile.strength }}</th>
          <th>{{ unit.unit.profile.wounds }}</th>
          <th>{{ unit.unit.profile.iniciative }}</th>
          <th>{{ unit.unit.profile.leadership }}</th>
          <th>{{ unit.size }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h5>Reglas: </h5>
      <p>{{ rulesString }}</p>
      <h5>Equipo: </h5>
      <p>{{ equipmentString }}</p>
      <h5>Opciones: </h5>
      <p>{{ opcionesString }}</p>
    </div>
  </div>
